* {
    margin: 0;
    padding: 0;
}

.banner {
    width: 100%;
    display: block;
}

.header {
    margin: 0;
    position: sticky;
    top: 0;
    width: 360px;
    height: 40px;
    background-color: black;
    box-shadow: 5px 10px 8px #888888;
}

.header a {
    display: block;
    float: left;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #f2f2f2;
    padding: 15px 5px;
    font-family: sans-serif;
}

.header a:hover {
    background-color: rgb(235, 231, 231);
    color: black;
}

.header a.active {
    background-color: #4CAF50;
    color: white;
}

.dropbtn {
    position: sticky;
    margin: 2px 4px;
    color: #f2f2f2;
    padding: 8px;
    background-color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 1px;
    background-color: black;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: left;
    color: rgb(235, 231, 231);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(185, 184, 184);
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #e7e3e3de;
    color: black;
}